<h1>All Contacts</h1>
<a href="/contacts/new">Add new contact</a>
  
<ul>
<% @@rolodex.contacts.each do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %></li>
  <li><%= contact.email %> <%= contact.note %></li>

  <a href="/contacts/<%= contact.id %>"Details</a>

  
<% end %>
</ul>